log_level: INFO

storage:
  storage_path: ./storage
  snapshots_path: ./snapshots
  on_disk_payload: true

service:
  host: 0.0.0.0
  http_port: 6333
  grpc_port: 6334
  enable_tls: false

cluster:
  enabled: false
